# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#visual studio
*.suo
*.user
Debug/
Release/
*.vcxproj.user
*.vcproj.*.user
*~
*.pyc
*.testsettings
*.aps
webpagetest.opensdf
webpagetest.sdf
*.suo
webpagetest.vsmdi
.svn
*.last
.DS_store
*.ppw
*.ppd
*.ppj
*.ppx
*.dsk
*.idx
*.ncb
*.$wrk
*.ipch
*.sdf